$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;
$large: 1680px;

$c_black: #000;
$c_white: #fff;

$c_black1: #2F2F2F;
$c_red: #B9293D;
$c_sand: #FAF7F1;
$c_sand_dark: #B0AB9F;
$c_steel: #7D7D8E;

$font_exo: 'Exo 2', sans-serif;
$font_lifehack: 'lifehackregular', serif;